{% extends 'base/base.html' %}

{% block content %}
{% include 'base/navbar.html' %}
{% load static %}

<style>
    .toggle-password{
        transform: translateX(-125%);
    }
</style>

<div class="home-container">
    {% include 'base/menuLaterale.html' %}
    <div class="col">
        <p class="titoli-pagine">Cambio Password</p>
        <form action="" method="POST">
            {% csrf_token %}
            <label for="">Nuova Password: </label>
            <input id="password" name="nuova" type="password" style="margin-left:22px;"><img class="toggle-password" onclick="togglePasswordNuova()" id="toggle-password-icon-nuova" src="{% static 'images/closed_eye.svg' %}" alt="Toggle Password Visibility" height="20px" width="20px">
            <br><br>
            <label for="">Ripeti Password: </label>
            <input id="ripeti" name="ripeti" type="password"  style="margin-left:28px;"><img class="toggle-password" onclick="togglePasswordRipeti()" id="toggle-password-icon-ripeti" src="{% static 'images/closed_eye.svg' %}" alt="Toggle Password Visibility" height="20px" width="20px">
            <br><br>
            <button type="submit" type="button" class="btn btn-success">Salva</button>
            {% if mess %}
            {% if messages %}
            {% for message in messages %}
            {{message}}
            {% endfor %}
            {% endif %}
            {% endif %}
        </form>
    </div>
</div>

<script>
    function togglePasswordNuova() {
      var passwordField = document.getElementById('password');
      var passwordFieldType = passwordField.getAttribute('type');
      var toggleIcon = document.getElementById('toggle-password-icon-nuova');
  
      if (passwordFieldType === 'password') {
        passwordField.setAttribute('type', 'text');
        toggleIcon.setAttribute('src', '{% static "images/open_eye.svg" %}');
      } else {
        passwordField.setAttribute('type', 'password');
        toggleIcon.setAttribute('src', '{% static "images/closed_eye.svg" %}');
      }
    }
    function togglePasswordRipeti() {
      var passwordField = document.getElementById('ripeti');
      var passwordFieldType = passwordField.getAttribute('type');
      var toggleIcon = document.getElementById('toggle-password-icon-ripeti');
  
      if (passwordFieldType === 'password') {
        passwordField.setAttribute('type', 'text');
        toggleIcon.setAttribute('src', '{% static "images/open_eye.svg" %}');
      } else {
        passwordField.setAttribute('type', 'password');
        toggleIcon.setAttribute('src', '{% static "images/closed_eye.svg" %}');
      }
    }
  </script>




{% endblock %}